@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

/* Seccion Principal */
body {
  background: #f3f0e9;
  display: block;
  font: 400 12px/18px "Press Start 2P", cursive, "Source Code Pro", Inconsolata,
    "Lucida Console", Terminal, "Courier New", Courier;
  padding: 24px 15px;
  border: 10px solid #f3f0e9;
  padding: 10px;
  box-sizing: border-box;
}
header,
section,
aside,
footer {
  margin: 10px 1.5% 24px 1.5%;
  background-color: #b000ff;
}
section {
  float: left;
  width: 30%;
}
footer {
  clear: both;
  margin-bottom: 0;
}

.align-right {
  text-align: right;
}

.no-border-left {
  border-left: none;
}

.no-border-right {
  border-right: none;
}

.custom {
  background-color: #f3f0e9;
  padding: 10px;
  border: 20px solid #b000ff;
  padding: 10px;
  box-sizing: border-box;
}

/* Bordes tabla */
.border-estilo {
  border: 0px solid #b000ff;
}

/* Imagenes chiquitas */
#floatleft {
  float: left;
  margin-right: 10px;
  margin-bottom: 10px;
}

#floatright {
  float: right;
  margin-right: 10px;
  margin-bottom: 10px;
}

/* Esconder */
.hidden {
  display: none;
}

/* Inputs filtros */
.filtros {
  height: 30px;
}

/* Pie chart */
#myChart {
  width: 50%;
}

/* Input text */
.cs-text {
  font-size: 12px;
}

/* Paginas */
/* Pagina de inicio monitor viejo */
#screen {
  position: relative;
  background-color: green;
  height: 330px;
}

#scanlines,
#monitor {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

#scanlines {
  opacity: 80%;
}

#wakeup {
  padding-left: 50px;
  padding-top: 40px;
  color: lime;
  text-shadow: 1px 1px 2px rgb(150, 167, 124), 0 0 1em rgb(150, 167, 124),
    0 0 0.2em rgb(150, 167, 124);
}

.cursor {
  display: inline-block;
  width: 10px;
  height: 1.2em;
  background-color: limegreen;
  margin-left: 2px;
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    opacity: 0;
  }
}

/* Pantallas chiquitas */
/* Media query para fuentes del pagination */
@media (max-width: 767px) {
  .custom {
    background-color: #f3f0e9;
    padding: 8px;
    border: 18px solid #b000ff;
    box-sizing: border-box;
  }
  body {
    padding: 22px 12px;
    border: 8px solid #f3f0e9;
    padding: 8px;
    box-sizing: border-box;
  }
  .custom-h7 {
    font-size: 8px;
  }
  h6 {
    font-size: 12px;
    text-decoration: none;
  }
  .pagination .page-link {
    font-size: 12px;
  }
  #screen {
    height: 250px;
  }
}

/* Inputs filtros */
@media (max-width: 767px) {
  .filtros {
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
  }
  .paginacion-custom .page-link {
    font-size: 10px;
    padding: 3px 5px;
  }
}

/* Chart pie */
@media (max-width: 768px) {
  #myChart {
    width: 100%;
  }
}
